<h1>New Pocket Monster</h1>
<%= render partial: 'form', locals: {
                                      path: "/trainers/#{trainer.id}/pocket_monsters",
                                      method: :post
} %>
